/* .well{
    background-image: url(../img/assets/backgrounds/landing.jpg);
   
} */

.jumbotron {
    background: url('/img/assets/backgrounds/landing.jpg');
    background-size: cover;
    margin: 0%;
    height: 10%;
    padding-right: 0%;
}

.jumbotron p {
    font-size: 50px;
    color: #ffffff;
}

.col-md-3 {
    padding: 0%;
    margin: 0%;
}

.col-md-12 {
    padding: 0%;
    margin: 0%;
}

.second {
    padding: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.text {
    padding-left: 0px;
}

.images {
    border: 2px solid black;
}

.menu {
    background-image: url('/img/assets/backgrounds/foodsBg.jpg');
    background-size: cover;
}

.foodtext {
    text-align: center;
}

.inside {
    padding: 200px;
}

.review {
    padding: 250px;
}

.search {
    padding:140px;
}

.subscribemail {
    text-align: center;
}

#social {
    margin-left: 5px;
}

.footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}


